{% extends 'blog/base.html' %}

{% block content %}
    <div class="publication">
        {% if publication.published_date %}
            <div class="date">
                {{ publication.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'publication_edit' pk=publication.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ publication.title }}</h1>
        <h3>{{ publication.published_type }}</h3>
        <p>{{ publication.contet|linebreaks }}</p>
    </div>


<div id= "fb=root"></div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div class="fb-comments" data-href="http://localhost:8000" data-width="450" data-numposts="5">
</div>

{% endblock %}